
/*resonsive*/
@media ( max-width:1123px) {
	.big-box {
		padding: 70px;
	}
}
@media ( max-width:979px) {
.block-p1 {
    font-size: 30px;
}
.left-block-box {
    width: 50%;
    padding: 78px;
}
.left-box {
    width: 50%;
    padding: 78px;
}
.left-block {
    width: 50%;
    padding: 79px;
}
}


@media ( max-width:667px) {
	
	.section-bg {
		height: 700px;
	}

	.left-block-box {
		padding: 10px;
	}
	.block-p1 {
		font-size: 29px;
	}
	.left-block {
	  padding:10px;
	}
  .block-p2 {
    font-size: 16px;
	margin-top: 15px;
    margin-bottom: 40px;
}
 .btn {
 	font-size: 13px;
 	padding: 17px;
 }
 .section-box3 p {
 	padding: 30px;
 }
 .block-pa1 {
 	font-size: 29px;
 }
 .block-pa2 {
 	font-size: 16px;
	margin-top: 15px;
    margin-bottom: 40px;
 }
 .p-block1 {
 	font-size: 29px;
 }
 .left-box {
 	padding: 10px;
 }
 .p-block2 {
 	font-size: 16px;
	margin-top: 15px;
    margin-bottom: 40px;
 }
}



@media ( max-width:500px) {
	.left-block-box {
		padding: 30px;

	}

	.left-block-box {
		padding: 30px;
	}

	.left-box {
		padding: 30px;
	}
}

@media ( max-width:386px) {
	.section-bg {
    height: 500px;
}
.header-flex {
	padding: 18px;
}
.bg-title h1 {
    font-size: 45px;
}
.bg-text p {
	font-size: 13px;
}

.section-flex {
	flex-wrap: wrap;
}
.left-block {
	width: 100%;
}
.right-block {
	width: 100%
}
.left-block {
    padding: 70px;
}
.block-p1 {
    font-size: 20px;
}
.block-p2 {
    font-size: 13px;
    margin-top: 28px;
    margin-bottom: 38px;
}
.btn {
    font-size: 10px;
    padding: 17px;
}
.section-box3 {
	height: 540px;
	padding-bottom: 130px;
}
.section-box3 h4 {
    font-size: 60px;
    text-align: center;
}
.section-box3 p {
	font-size: 15px;
	padding: 55px;
}
.block-pa1 {
	font-size: 20px;
}
.block-pa2 {
	font-size: 13px;
    margin-top: 28px;
    margin-bottom: 38px;
}
.left-block-box {
	 padding: 70px;
}
.section-flex-box  {
	flex-wrap: wrap;
}
.left-block-box {
	width: 100%;
}
.right-block-box1 {
	width: 100%;
}
.p-block1 {
	font-size: 20px;
}
.p-block2 {
	font-size: 13px;
    margin-top: 28px;
    margin-bottom: 38px;
}
.left-box {
	 padding: 70px;
}
.section-flex {
	flex-wrap: wrap;
}
.right-box {
	width: 100%;
}
.left-box {
	width: 100%
}
}
@media ( max-width:386px) {
   .section-bg {
    height: 448px;
}
.bg-title h1 {
    font-size: 15px;
}
.bg-text p {
    font-size: 10px;
}
.header-flex {
    padding: 0px;
}
.block-p1 {
    font-size: 14px;
}
.block-p2 {
    font-size: 11px;
    margin-top: 16px;
    margin-bottom: 25px;
}
.btn {
    font-size: 7px;
    padding: 11px;
}
.left-block {
    padding: 72px;
}
.section-title {
	font-size: 12px;
}
.grey-bg-section p {
	font-size: 12px;
}
.small-box  {
	height: 200px;
}
.small-box p {
    font-size: 11px;
    }
.section-box3 {
    height: 300px;
    padding-bottom: 2px;
}
.section-box3 h4 {
    font-size: 20px;
}
.section-box3 p {
    font-size: 10px;
    padding: 82px;
}

.p-block1 {
    font-size:14px;
}
.p-block2 {
    font-size: 11px;
    margin-top: 16px;
    margin-bottom: 25px;
}
.left-box {
     padding: 72px;
}
.block-pa1 {
    font-size: 14px;
}
.block-pa2 {
    font-size: 11px;
    margin-top: 16px;
    margin-bottom: 25px;
}
.left-block-box {
    padding: 72px;
}
.navigation-li {
    margin-right: 10px;
}

.right-block img {
    width: 100%;
    height: 265px;
}
.right-block-box1 img {
    width: 100%;
    height: 265px;
}
.right-box img {
    width: 100%;
    height: 265px;
}
}
