
/*resonsive*/

@media ( max-width:667px) {
	.left-block-box {
		padding: 30px;

	}

	.left-block-box {
		padding: 30px;
	}
}


@media ( max-width:500px) {
	.left-block-box {
		padding: 30px;

	}

	.left-block-box {
		padding: 30px;
	}

	.left-box {
		padding: 30px;
	}
}

@media ( max-width:400px) {
	.left-block-box {
		padding: 20px;

	}

	.left-block-box {
		padding: 20px;
	}

	.left-box {
		padding: 20px;
	}

	.header-flex {
		padding: 25px;
	}
	.p-logo {
		margin-right:15px;
	}
}
@media ( max-width:370px) {
	.left-block-box {
		padding: 15px;

	}

	.left-block-box {
		padding: 15px;
	}

	.left-box {
		padding: 15px;
	}

	.header-flex {
		padding: 20px;
	}
	.p-logo {
		margin-right:10px;
	}
	.block-p2 {
		font-size: 13px;
		margin-top: 20px;
		margin-bottom: 19px;

	}
	.left-block {
		padding: 10px;
	}
	.btn {
		font-size: 11px;
		padding: 2px;
	}
 .block-p1 {
 	font-size: 20px;
 }
 .section-box3 h4 {
 	font-size: 86px;
 }
 .block-pa2 {
 	font-size: 13px;
 	margin-top: 20px;
 	margin-bottom: 19px;
 }
 .btn {
 	font-size: 10px;
 	padding: 2px;
 }
 .block-pa1 {
 	font-size: 22px;
 }
 .left-box {
 	padding: 3px;
 }
 .p-block1 {
 	font-size: 22px;
 }
 .p-block2 {
 	font-size: 13px;
 	margin-top: 20px;
 	margin-bottom: 19px;
 }
 .p-block2 {
 	font-size: 13px;
 	margin-top: 20px;
 	margin-bottom: 19px;
 }
 .section-bg {
 	height: 601px;
 }
}

@media ( max-width:356px) {
	.left-block-box {
		padding: 15px;

	}

	.left-block-box {
		padding: 5px;
	}

	.left-box {
		padding: 5px;
	}

	.header-flex {
		padding: 5px;
	}
	.p-logo {
		margin-right:5px;
	}
	.block-p2 {
		font-size: 7px;
		margin-top: 15px;
		margin-bottom: 15px;

	}
	.left-block {
		padding: 2px;
	}
	.btn {
		font-size: 5px;
		padding: 1px;
	}
 .block-p1 {
 	font-size: 5px;
 }
 .section-box3 h4 {
 	font-size: 80px;
 }
 .block-pa2 {
 	font-size: 7px;
 	margin-top: 15px;
 	margin-bottom: 15px;
 }
 .btn {
 	font-size: 5px;
 	padding: 1px;
 }
 .block-pa1 {
 	font-size: 16px;
 }
 .left-box {
 	padding: 1px;
 }
 .p-block1 {
 	font-size: 16px;
 }
 .p-block2 {
 	font-size: 7px;
 	margin-top: 15px;
 	margin-bottom: 15px;
 }
 .p-block2 {
 	font-size: 7px;
 	margin-top: 15px;
 	margin-bottom: 15px;
 }
 .section-bg {
 	height: 601px;
 }
}

@media ( max-width:336px) {
	.left-block-box {
		padding: 2px;

	}

	.left-block-box {
		padding: 1px;
	}

	.left-box {
		padding: 1px;
	}

	.header-flex {
		padding: 1px;
	}
	.p-logo {
		margin-right:1px;
	}
	.block-p2 {
		font-size: 1px;
		margin-top: 5px;
		margin-bottom: 5px;

	}
	.left-block {
		padding: 1px;
	}
	.btn {
		font-size: 1px;
		padding: 1px;
	}
 .block-p1 {
 	font-size: 1px;
 }
 .section-box3 h4 {
 	font-size: 70px;
 }
 .block-pa2 {
 	font-size: 1px;
 	margin-top: 5px;
 	margin-bottom: 5px;
 }
 .btn {
 	font-size: 1px;
 	padding: 1px;
 }
 .block-pa1 {
 	font-size: 1px;
 }
 .left-box {1
 	padding: 1px;
 }
 .p-block1 {
 	font-size: 1px;
 }
 .p-block2 {
 	font-size: 1px;
 	margin-top: 5px;
 	margin-bottom: 5px;
 }
 .p-block2 {
 	font-size: 1px;
 	margin-top: 5px;
 	margin-bottom: 5px;
 }
 .section-bg {
 	height: 601px;
 }
}